body{
	font-family: 'Rubik', sans-serif;
	color: #50423C;
}
h1{
	font-size: 30px;
	font-weight: 500;
	line-height: 36px;
	background-color: #537054;
	color: white;
	padding: 21px 0px 65px 33px;
	border-bottom: 10px #E06A38 solid;

}
.title{
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	letter-spacing: 0.15em;
	color: #E06A38;
	padding: 78px 0px 21px 0px;
	border-bottom: 10px #E06A38 solid;
	font-weight: bold;
}
.container{
	padding-left: 100px;
	padding-right: 100px;
}
.content{
	font-weight: 300;
	padding-top: 81px;
	padding-bottom: 72px;
}
.identitas{
	font-size: 24px;
	line-height: 40px;
}
.tag{
	color: black;
}
.about{
	padding: 0px 10px;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
}
.allcontent{
	font-size: 28px;
	line-height: 33px;
	padding: 35px 35px;
}
.sepaket{
	padding: 0px 0px 10px 0px;
}
.bab{
	color: black;
	font-weight: bold;
}
.subbab{
	color:#E06A38;
	font-weight: bold;
}
.description{
	text-align: justify;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.1em;
}
em{
	font-style: italic;
}
.all-image{
	padding: 35px 40px 35px 40px;
}
.img-hobi{
	float: left;
	width: 33.33%;
}
.all-form{
	padding: 100px 100px 60px 200px;
}
label{
	font-weight: bold;
	color: black;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.15em;
}
.form-control{
	border: 3px solid #537054;
}
textarea{
	min-height: 200px;
}
input{
	min-height: 50px;
}
.input-button{
	background-color: #537054;
	color: white;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 0.15em;
}
.btn{
	padding: 20px 0px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.15em;
	background-color: #537054;
	border: 2px solid #E06A38;
}
.all-button{
	position: fixed;
	top: 220px;
	right: 90px;
}
a{
	color:white;
}
a:hover{
	text-decoration: none;
	color:#E06A38;
}
.progress-bar{
	background-color: #50423C;
}